<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapflowApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SapflowApplication.Properties.Settings>
            <setting name="GraphMax" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphMin" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fgGraphMax" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fgGraphMin" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphWindowLocation_x" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphWindowSize_x" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphParameterSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphWindowLocation_y" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphWindowSize_y" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphMax2" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="GraphMin2" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fgGraphMax2" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fgGraphMin2" serializeAs="String">
                <value>""</value>
            </setting>
        </SapflowApplication.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="BaseUrl" value="https://localhost:5003" />
		<add key="accessToken" value="" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
